<nav>
  <h1>Hi.<span class="hand">👋🏻</span></h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/site-avatar.jpg" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>A student from China.</p>
    <p>------------------------------------------</p>
    <p>
    "Du hast gelernt was Freiheit heisst, und das vergiss nie mehr."
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
